.contenedorP {
    display: grid;
    grid-template-rows: repaet(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    word-wrap: break-word;
    width: 800px;
}

.itemsT {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    justify-content: center;
    grid-auto-rows: 1fr;
}

.itemR{
    border: solid 1px rgb(255,255,255);
    background-color: rgba(255,255,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    margin: 5px;
    padding-left: 8px;
}

.itemG{
    border: solid 1px rgb(255,255,255);
    background-color: rgba(0,255,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    margin: 5px;
    padding-left: 8px;
}

.itemC {
    display: none;
}

.camposT {
    padding-top: 5px;
}
.contenidoT {
    margin: 0 0 0 6px;
}
.compTarea {
    display: none;
}

.detalleDeshabilitado {
    display: none;
}

@media (max-width: 600px) {
    .itemsT {
        grid-template-columns: 1fr;
    }
}